.main-area{
  margin-top: 1rem;
}

.image-container{
  height: 60vh;
  padding: 0.5rem;
}

.image-area{
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.start-title{
  margin-top: 20vh;
}

.start-level{
  margin-top: 15vh;
}

.end-title{
  margin-top: 25vh;
}

.text-container{
  margin-top: 1rem;
  position: relative;
  height: 3rem;
}

.text-area{
  left: 10%;
  position: absolute;
}

.margin-top{
  margin-top: 1rem;
}

.noselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome and Opera */
}

.full-width{
  width: 100%;
}

@media screen and (min-width:23rem){
  .buttons-area{
  letter-spacing: 2rem;
  }
}

@media screen and (max-width:33rem){   
  #time-icon{
    display: none;
  }
}